body {
    font-family: "Poppins", sans-serif;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-color: white;
    margin-top: 30px;
}

h1 {
    text-align: center;
    width: 397px;
    height: 36px;
    top: 232px;
    left: 521px;
    font-size: 32px;
    margin-top: 40px;
    font-family: "Poppins", sans-serif;
}

img {
    width: 145px;
}

form {
    display: flex;
    flex-direction: column;
    width: 320px;
}

button {
    font-weight: bold;
    background-color: #0A0300;
    margin-top: 30px;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 10px;
    width: 320px;
    font-size: 16px;
    text-decoration: none;
    height: 40px;

    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

label {
    font-weight: bold;
    margin-top: 25px;
    font-size: 13px;
}

input {
    height: 25px;
    padding: 8px;
    margin-top: 3px;
    font-weight: bold;
    border-radius: 15px;
    border: 1px solid #E9EBFF;
    color: rgb(194, 198, 202);
}